.weather-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  
  .weather-info-container {
    background-color: #03045e;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    height: 40px;
    opacity: 1;
  }
  
  .weather-city-name {
    font-size: 0.80rem;
    font-weight: bold;
  }
  
  .weather-temp {
    font-size: 0.80rem;
    font-weight: bold;
    // margin-bottom: 5px;
  }
  
  .weather-description {
    font-size: 0.80rem;
    text-transform: capitalize;
font-weight: bold;
  }
  
  