.weather-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  
  .weather-info-container {
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    height: 40px;
    opacity: 1;
  }
  
  .weather-city-name {
    font-size: 0.80rem;

  }
  
  .weather-temp {
    font-size: 0.80rem;
  }
  
  .weather-description {
    font-size: 0.80rem;
    text-transform: capitalize;
  }
  
  