.IP-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 87%;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #ddd;
}

.ip-input-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ip-generate-button {
  padding: 10px 20px;
  // background-color: #007bff;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.ip-generate-button:hover {
  background-color: #0056b3;
}

.generate-result-container {
  margin-top: 20px;
}
.table-container {
  width: 100%;
  border-collapse: collapse;
}

.between-ips {
  // background-color: #007bff;
  background-color: #0056b3;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.table-container th,
.table-container td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container th {
  // background-color: #007bff;
  background-color: #0056b3;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.table-container tr:hover {
  background-color: #f5f5f5;
}

.first-ip,
.last-ip,
.between-ips {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-items {
  margin-bottom: 5px;
}
.error-message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
