


.fox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 89%;
  height: 50px;
  padding: 10px 0;
  background-color: #03045e;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

.weather {
  margin-left: 10px;
}

.fox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.fox-image {
  width: 1212px;
  height: 500px;
  border-radius: 4px;
}

.buttons {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.quote-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.change-image-button {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color:#023e8a;
}

.change-quote-button {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    top: 0%;
    right: -5%;
    transform: translate(-50%, -50%); 
    background-color:#023e8a; 
}

.quote {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  margin-bottom: 10px;
  border-radius: 4px;
}

.author {
  font-size: 16px;
  font-style: italic;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
