$main-background: linear-gradient(90deg, hsla(16, 34%, 27%, 1) 0%, hsla(24, 81%, 65%, 1) 50%, hsla(8, 25%, 23%, 1) 100%);
$secondary-background: hsla(8, 25%, 23%, 1);
.main-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
  }
  
  .main-table-paper {
    background-color: #f5f5f5;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 2px;
  }
  
  .harmful-content-table {
    border-collapse: collapse;
    background-color: #dddfe6;

  }
  
  .harmful-content-table-head {
    background: $main-background;
    // background-color: #0056b3;
  }
  
  .harmful-content-table-head-cell {
    font-weight: bold;
  }

  #harmful-content-table-head-cells {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .harmful-content-table-row {
    transition: background-color 0.4s ease;

  }
  
  
  .harmful-content-table-body-cell {
    font-weight: 400;
  }

  .harmful-content-table-body-cell:hover {
    background-color: rgb(170, 109, 69);
    color: white;
  }

  
  #button-show-info {
    color: #fff;
    // background-color:#0077b6;
    // background-color:#0077b6;
    background-color: $secondary-background;
    transition: background-color 0.3s ease;
  }
  
  #button-show-info:hover {
    background-color: rgb(170, 109, 69);
    border-color: $secondary-background;
  }
  