$main-background: linear-gradient(90deg, rgb(126, 177, 184) 0%, rgb(134, 156, 216) 50%, rgb(52, 38, 179) 100%);
$secondary-background: hsla(8, 25%, 23%, 1);

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  border: 1px solid $secondary-background;
  border-radius: 5px;
  background-color: #ddd;

}

.main-pie-chart {
  margin-top: 20px;
}

.pie {
  transition: fill 0.3s ease;
  fill: rgb(192, 129, 86);
}

.pie:hover {
  fill: $secondary-background;
}

.chart-tooltip {
  padding: 10px;
  font-size: 14px;
}

.custom-tooltip p {
  margin: 5px 0;
  color: #e6d2d2;
}

.chart-title {
  background:$main-background;
  color: #ffffff;
  width: 60%;
  margin: 2rem auto;
  border: 1px solid #ddd;
  box-shadow: 5px 5px hsla(24, 81%, 65%, 1);
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
