@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Manrope:wght@200;400&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;1,300;1,400&display=swap');

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.main-contents-buttons {
  position: absolute;
  margin-top: 10px;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  
}

.table-button {
  margin: 0 5%;
}

.ip-button {
  @extend .table-button
}

.chart-button {
  @extend .table-button
}

#button-1, #button-2, #button-3 {
  background-color:#023e8a;
}

